html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--background-color);
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

footer {
    margin-top: 180px;
    background-color: var(--background-color2);
    padding: 25px;
}

input[type=submit]{
    border-radius: 25px;
    border: none;
    padding: 10px;
    text-decoration: none;
    margin: 4px;
    cursor: pointer;
}

h3 {
    border-radius: 25px;
    color: white;
}

.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height: 200px;
}

.well{
    border-radius: 10px;
}

.col-sm-4{
    top:10%;
    align-items: center;
    width: 100%;
    margin: auto;
}

.col-sm-5{
    left: 24%;
    width: 100%;
    top: 60%;
    width: 50%;
    font-size: 15px;
    color: var(--background-color);
}

:root{
    --background-color: black;
    --background-color2: #f2f2f2;
    --color: white;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}